.forgot {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #f9f9f9;
    border-radius: 4px;
    cursor: pointer;
    color: tomato;
    border: none;
}

.create {
    width: 100%;
    padding: 12px;
    background: #db4444;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}