.signup-countainer {
    display: grid;
    margin-top: 9%;
    width: 1305px;
    grid-template-columns: 805px 500px;
    height: 781px;
}
.signup-from-div {
    width: 371px;
    height: 530px;
    margin-top: 291px;
    margin-left: 291px;
    margin-bottom: 291px;
}
.signup-from-div h1 {
    font-size: 36px;
    padding: 10px;
}
.signup-from-div span {
    font-size: larger;
    padding: 10px;
}
.signup-from-div input {
    width: 371px;
    height: 32px;
    border-bottom: 1px solid grey;
    padding: 20px;
}
.account {
     margin-top: 12px;
    padding: 16px;
    width: 371px;
    color: white;
    background-color: tomato;
    word-spacing: 5px;
    border-radius: 3px;
}
.google {
    margin-top: 12px;
    padding: 16px;
    width: 371px;
    color: black;
    background-color: white;
    word-spacing: 5px;
    border-radius: 3px;
    border: 1px solid darkgray;

}
.google img {
    display: inline;
    padding: 5px;
}
.log-in {
    color: black;
    font-size: medium;
    margin-top: 12px;
}
.log-in a {
    text-decoration: dashed;
    border-bottom: 1px solid black;
}


