* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    padding: 2%;
    align-items: center;
}

.search-div {
    display: grid;
    grid-template-columns: 80% 10% 10%;

}

.search-bar {
    border-radius: 6px;
    border: 3px solid black;
    color: black;
    width: 100%;
    text-align: center;
}

.title {
    text-align: center;
    font-size: xx-large;
}

.active {
    text-decoration: dashed;
}

.link-div {
    display: flex;
    text-decoration: none;
    text-align: center;
    justify-content: space-evenly;
}



.side-bar {
    display: grid;
    grid-template-columns: 30% 70%;
    color: black;
}

.menus {
    justify-content: left;
    margin: 0;
    padding-left: 20%;
}

.link {
    display: block;
    padding: 9px;
}

.side-gallery {
    border-left: 1px solid grey;
    padding: 15px;
}

.side-gallery img {
    border-radius: 12px;
}

.add-to-cart-container {
    width: 83%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 10%;
}

/* .add-to-cart-grid {
    display: grid;
    grid-template-columns: 40% 40%;
} */

.add-to-cart-div {
    display: inline;
}

.add-to-cart-box {
    width: 20px;
    height: 40px;
    border-radius: 10%;
    border-left: 20px solid rgb(255, 87, 87);
    color: rgb(255, 87, 87);
    margin-bottom: 19px;
    text-align: center;
}


.flash-title {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.flash-title-div {
    align-items: center;
}

.flash-title-div h1 {
    font-size: xx-large;
    margin-top: -2%;
}

.right-left-container {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
}

.right-left-container span {
    padding: 9px;
    border-radius: 98%;
    background-color: #f3f3f3;
}

.sales-duration {
    color: rgb(0, 0, 0);
    font-size: small;
    padding: 5px;
}

.sales-number {
    color: black;
    font-size: x-large;
    padding: 5px;

}

.sales-number span {
    color: rgb(255, 87, 87);
    font-size: x-large
}

@media only screen and (max-width: 700px) {
    .header {
        display: flex;
        flex-direction: column;
        /* stacks items vertically */
        flex-shrink: auto;
        width: 100%;
        align-items: flex-start;
        /* aligns items to the start of the container */
        padding: 5%;
    }

    .link-div {
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
    }

    .search-div {
        width: 100%;
        flex-shrink: auto;
        grid-template-columns: 80% 10% 10%;
        margin-top: 10px;
    }

    .search-bar {
        border-radius: 6px;
        border: 3px solid black;
        color: black;
        width: 100%;
        text-align: center;
    }

    .link {
        position: sticky;
        padding: 0;
    }

    .side-gallery img {
        height: 100%;
    }

    .flash-title-div h1 {
        font-size: medium;
    }
}